.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}
label {
  display: block;
}
nav a {
  display: inline-block;
  margin: 1em;
}
nav {
  position: relative;
}
form div {
  margin: 1em;
  display: inline-block;
}

.mainPage {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authPage {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.authPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: gray;
  border-radius: 0.25em;
  color: white;
  box-shadow: 3px 3px 5px gray;
}

.authPage input {
  height: 20px;
  margin-top: 5px;
}
.authPage button {
  border-width: 1px;
  background-color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 0.25em;
  font-size: medium;
}
.authPage button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.authPage a {
  padding: 7px;
  color: white;
  border-radius: 0.25em;
  background-color: rgb(175, 56, 56);
  font-size: medium;
}

.authPage a:hover {
  background-color: rgb(212, 31, 31);
}

.portfolioSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.smallPortfolioSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 50%;
  min-height: 50vh;
  padding: 20px;
  border-radius: 0.25em;
  background-color: rgb(120, 120, 120);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.smallPortfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0.1em;
  background-color: white;
  -webkit-transition: background 0.5s; /* For Safari 3.0 to 6.0 */
  transition: background 0.5s; /* For modern browsers */
  color: black;
}
.smallPortfolio:hover {
  cursor: pointer;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: white;
  background-color: rgb(50, 50, 50);
  mix-blend-mode: normal;
}

.singlePortfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
